#header {
		z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #668284;
	margin-bottom: 10px;
}
#title {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	color: #ffffff; text-decoration: underline;
}
#spacer {
	height: 10px;
}
#navigation {
	border-radius: 5px;
	background-color: #123456;

	width: 100%;
	margin: 10px;
height: 40px;
margin-top: 50px;
position: relative;

}
#navtitle {
	font-size: 15px;
	font-familly: Helvetica, sans-serif;
	color: #fff;
}
#navlist {
	color: #fff;
}
#main {

	border-radius: 5px;
	background-color: #668284;
	width: 75%;
	margin: 10px;
}
.heading {
	font-size: 20px;
	
	font-family: Helvetica, sans-serif;
}
.bigheading {
	font-family: Helvetica, sans-serif;
	font-size: 26px;
	text-decoration: underline;
}
p {
	font-family: Helvetica, sans-serif;
}
a {
	font-family: Ubuntu, sans-serif;
}